.form__text-error {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  min-height: 30px;
}

.form__text-error_active {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  min-height: 30px;
}