.header__userElements {
  display: flex;
}

@media screen and (max-width: 561px) {
  .header__userElements {
    display: none;
  }

  .header__userElements_active {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #545454;
    padding-bottom: 40px;
    top: 40px;
    right: 0;
    width: 100%;
  }
}