.profile__information-job {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 4;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
}

@media screen and (max-width: 528px) {
  .profile__information-job {
    font-size: 14px;
    line-height: 17px;
  }
}
