.photo-card__wastebasket {
  background-image: url(../../../images/wasteBasket.svg);
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
}