.header__burger {
  display: none;
}

@media screen and (max-width: 561px) {
  .header__burger {
    display: block;
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    margin-right: 30px;
    position: relative;
  }
}
