.header {
  border-bottom: 1px solid #545454;
  display: flex;
  max-width: 880px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 920px) {
  .header {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 0 auto;
  }
}

.header_active {
  padding-top: 140px;
  border-top: 1px solid #545454;
}