.content {
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 920px) {
  .content {
    margin: 0 10px;
  }
}

@media screen and (max-width: 528px) {
  .content {
    max-width: 282px;
    margin: 0 auto;
  }
}